---
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import SearchForm from "@/components/SearchForm.astro";
import ShowCards from "@/components/ShowCards.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cockadeck</title>
	</head>

	<body>
		<SearchForm />
		<ShowCards />
	</body>
</html>
