---
import { db, Cards } from 'astro:db';

const comments = await db.select().from(Cards);
---

<h2>Comments</h2>

{
  comments.map(({ setcode, name, quantity, collectornumber }) => (
    <article>
      <p>{setcode}</p>
      <p>{name}</p>
    </article>
  ))
}